body {
	background-color: #fff;
	font-family: Georgia, serif;
}
div {
	border-radius: 30px;
	padding: 0 15px;
}
.title {
	border-radius: 0;
	padding: 0;
}
/* counter */
count {
	font-size: 11px;
	border-style: solid;
	border-width: 1px;
	margin: 0;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline;
}
/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	margin: auto;
	margin-left: -60px;
	top: 100%;
	left: 50%;
	background-color: black;
	color: #fff;
	text-align: left;
	padding: 5px;
	border-radius: 15px;

/* tooltip text pos */
position: absolute;
	z-index: 1;
}
/* show the text when hovered over */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/* base tiles buttons */
.button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	color: white;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}
.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}
/* special margin left for first set */
#first {
	left: 90%;
}
/* spacing between tiles */
.space {
	margin-right: 70px;
}
.doubleSpace {
	margin-right: 135px;
}
/* + and - buttons */
.adder {
	background: #bfbfbf;
	font-size: 12px;
	letter-spacing: 5px;
	text-align: center;
	padding: 0;
	padding-left: 2px;
}
.adder:hover {
	background: #999999;
}
/* non highlightable text */
.nontext {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
